
.container {
  background-image: url('/src/assets/cloud.jpg');
  background-size: cover;
  background-position: center;
  color: white; 
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
}

.weatherinfo {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}
.text-danger{
    font-weight: bold;
}

.card-title{
    color: white;
    font-weight: bold;
}
